#!/usr/bin/make -f

# Avoid using cabal, as it writes to $HOME
export CABAL=./Setup

%:
	dh $@

override_dh_auto_build:
	$(MAKE) build
override_dh_installchangelogs:
	dh_installchangelogs -XCHANGELOG
